<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="analyze">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Analyze</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
